# Dependencias (no se suben a GitHub)
node_modules/

# Archivos JSON de reportes
!package.json
!package-lock.json

# Configuración local de VS Code
.vscode/
settings.json

# Archivos del sistema
.DS_Store
Thumbs.db